.form-control {
    position: relative;
    width: 100%;
    background: 0 0;
    padding: 26px 0 12px;
    font-size: $base-size;
    line-height: 1.4;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, .08);
    border-width: 0 0 1px !important;
    box-shadow: none !important;
    border-radius: 0;
    padding-left: 10px;
}