@mixin links($hover, $focus, $active) {
    a {
        &:hover {
            color: $hover;
        }
        &:focus {
            color: $focus;
        }
        &:active {
            color: $active;
        }
    }
}