@import 'variables';
@import 'bootstrapOverwrite';
body {
    overflow-x: hidden;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: $primary-clr;
    width: 200px;
    .logo {
        width: 100%;
        height: 140px;
        margin-top: 10px;
        span {
            font-size: $base-size;
            margin: 15px 25px;
            color: $white-clr;
            height: 20%;
            font-weight: 600;
        }
        img {
            margin-left: 55px;
            margin-top: 20px;
            width: 45%;
            height: 60%;
        }
    }
    .sidebar-wrapper {
        position: relative;
        overflow: auto;
        margin-top: 10px;
        width: 100%;
    }
    .nav {
        li {
            a {
                border-radius: 2px;
                margin: 15px 10px;
                color: $white-clr;
                opacity: 0.5;
                font-size: $base-size;
                &:focus {
                    opacity: 1;
                    background-color: transparent !important;
                    border-left: 5px solid white;
                    border-radius: 0;
                    transition: 0.2s;
                }
                &:hover {
                    background-color: transparent;
                }
            }
            i {
                text-align: left;
                width: 30px;
                font-size: $base-size;
                color: $white-clr;
            }
        }
    }
}

.main-panel {
    float: right;
    width: calc(100% - 200px);
    position: relative;
    overflow: auto;
    height: 100%;
}

.btn {
    background-color: $primary-clr;
    color: $white-clr;
    font-size: $base-size;
}

@media screen and (max-width: 750px) {
    .sidebar {
        width: 0;
        display: none;
    }
    .main-panel {
        width: 100%;
    }
}