/* Size */

$base-size: 16px;

/* Color */

$primary-clr: #5b7a59;
$white-clr: #fff;
$text-clr: #000;
$icon-clr: #2b8dec;
$sidebar-clr: #f7f7f7;
$starred-clr: red;
$danger-clr: red;
$active-clr: #e1f2fe;
$completed-clr: #d7e2de;