@import 'mixins';
@import 'variables';
@import 'sidebarNav';
@import 'tasks';
@import 'subTask';
@import 'subtasklists';
body {
  overflow-x: hidden;
  background: url(../img/wunderlist.jpg) no-repeat fixed;
  background-size: 100% 100%;
  height: 100%;
}

.w-100 {
  width: 100%;
}
.hidden {
  @include transition(0.5s);
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.finished {
  background-color: $completed-clr;
  span {
    text-decoration: line-through;
  }
}

.starred {
  .fa-star {
    color: $starred-clr;
  }
}

#wrapper {
  @include transition(0.6s);
  &.toggled {
    .sidebar-wrapper {
      width: 60px;
      input,
      span,
      ul {
        visibility: hidden;
      }
      i {
        float: right;
        padding-right: 13px;
      }
    }
    .page-content-wrapper {
      width: calc(100% - 60px);
      @include transition(0.5s)
    }
  }
}

.sidebar-wrapper {
  z-index: 1;
  position: fixed;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $sidebar-clr;
  @include transition(0.5s);
  font-size: $base-size;
  .fa-inbox {
    color: #2b8dec;
  }
  .menu-toggle {
    padding: 15px 15px;
    height: 50px;
    color: $white-clr;
    background: $primary-clr;
    .fa-bars {
      cursor: pointer;
      font-size: $base-size;
    }
  }
  .list-input {
    padding: 15px 15px;
    height: 50px;
    color: #2b8dec;
    i {
      padding-right: 10px;
      font-size: $base-size;
    }
    input {
      border-width: 0;
      border: none;
      padding-left: 10px;
      background: 0;
      width: calc(100% - 56px);
      outline: none;
    }
  }
}

.page-content-wrapper {
  width: calc(100% - 300px);
  @include transition(0.6s);
  float: right;
}

@media screen and(max-width: 700px) {
  #wrapper {
    &.toggled {
      .sidebar-wrapper {
        width: 300px;
        input,
        span,
        ul {
          visibility: visible;
        }
        i {
          float: left;
          padding-top: 4px;
        }
      }
    }
    .sidebar-wrapper {
      width: 60px;
      overflow: hidden;
      input,
      span,
      ul {
        visibility: hidden;
      }
      .menu-toggle {
        padding: 15px 20px;
      }
      .list-input {
        padding: 15px 20px;
      }
    }
    .page-content-wrapper {
      width: calc(100% - 60px);
      @include transition(0.5s);
    }
  }
}