.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 100px;
  padding: 0;
  font-size: $base-size;
  li {
    padding: 10px 15px;
    display: block;
    i {
      color: #c0c0c0;
      padding-right: 10px;
    }
    span {
      font-size: $base-size;
    }
    &:hover {
      cursor: pointer;
    }
    &:active,
    &:-moz-focusring {
      background-color: #e0eefa;
      color: red;
    }
  }
}