.sub-task {
  margin: 20px 15px 0;
  .panel-header {
    height: 50px;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    &.finished {
      background-color: $completed-clr;
      span{
        text-decoration: line-through;
      }
    }
    .checkbox {
      height: 16px;
      width: 16px;
    }
    .content {
      padding-top: 2px;
      font-size: $base-size;
    }
    .fa-star {
      padding-top: 5px;
      font-size: $base-size;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .panel-body {
    padding-top: 0px;
    height: calc(100% - 150px);
  }
  .panel-footer {
    height: 50px;
    .fa-trash-o {
      float: left;
      padding-top: 8px;
      font-size: $base-size;
      &:hover {
        cursor: pointer;
        color: $danger-clr;
      }
    }
  }
}