.subtask-sidebar {
  list-style: none;
  padding: 0px 0px;
  >li {
    display: block;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    i {
      padding-right: 25px;
      font-size: $base-size;
      color: #2b8dec;
      margin: auto;
    }
    .remainder {
      pointer-events: stroke;
      cursor: pointer;
    }
    input {
      border-width: 0;
      border: none;
      padding-left: 10px;
      background: 0;
      outline: none;
      font-size: $base-size;
      width: calc(100% - 51px);
    }
    .fa-pencil {
      float: left;
    }
    textarea {
      border-width: 0;
      border: none;
      outline: none;
      width: calc(100% - 51px);
      height: 100px;
    }
  }
  .subtasks {
    list-style: none;
    padding: 0px;
    border-bottom: 1px solid #ddd;
    >li {
      padding: 10px 10px;
      .fa-close {
        float: right;
        font-size: $base-size;
        color: #ddd;
        &:hover {
          color: $danger-clr;
          cursor: pointer;
        }
      }
      .checkbox {
        float: left;
        height: 16px;
        width: 16px;
        cursor: pointer;
      }
      span {
        font-size: $base-size;
        padding: 0px 25px;
      }
    }
  }
}