.add-tasks {
  size: $base-size;
  margin: 10px 15px;
  input {
    width: 100%;
    border-radius: 5px;
    height: 50px;
    padding-left: 15px;
    margin: 10px 15px;
    background-color: #7b9676;
    color: $white-clr;
    font-weight: 500;
    &::-webkit-input-placeholder {
      color: $white-clr;
    }
  }
  .task-list {
    width: 100%;
    border-radius: 5px;
    height: 50px;
    margin: 10px 15px;
    background-color: $white-clr;
    padding-top: 15px;
    &:active,
    &:focus {
      background-color: $active-clr;
    }
    &.finished {
      background-color: $completed-clr;
      span {
        text-decoration: line-through;
      }
    }
    &.starred {
      .fa-star {
        color: $starred-clr;
      }
    }
    .checkbox {
      margin: auto;
      height: 22px;
      width: 22px;
    }
    .task-content {
      font-weight: 600;
      font-size: $base-size;
      span {
        cursor: pointer;
      }
    }
    .date {
      font-weight: 800;
      color: #33A0DB;
      padding-right: 5px;
    }
    .fa-star {
      size: $base-size;
      &:hover {
        cursor: pointer;
      }
    }
  }
}