/* Size */
/* Color */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 100px;
  padding: 0;
  font-size: 16px; }
  .sidebar-nav li {
    padding: 10px 15px;
    display: block; }
    .sidebar-nav li i {
      color: #c0c0c0;
      padding-right: 10px; }
    .sidebar-nav li span {
      font-size: 16px; }
    .sidebar-nav li:hover {
      cursor: pointer; }
    .sidebar-nav li:active, .sidebar-nav li:-moz-focusring {
      background-color: #e0eefa;
      color: red; }

.add-tasks {
  size: 16px;
  margin: 10px 15px; }
  .add-tasks input {
    width: 100%;
    border-radius: 5px;
    height: 50px;
    padding-left: 15px;
    margin: 10px 15px;
    background-color: #7b9676;
    color: #fff;
    font-weight: 500; }
    .add-tasks input::-webkit-input-placeholder {
      color: #fff; }
  .add-tasks .task-list {
    width: 100%;
    border-radius: 5px;
    height: 50px;
    margin: 10px 15px;
    background-color: #fff;
    padding-top: 15px; }
    .add-tasks .task-list:active, .add-tasks .task-list:focus {
      background-color: #e1f2fe; }
    .add-tasks .task-list.finished {
      background-color: #d7e2de; }
      .add-tasks .task-list.finished span {
        text-decoration: line-through; }
    .add-tasks .task-list.starred .fa-star {
      color: red; }
    .add-tasks .task-list .checkbox {
      margin: auto;
      height: 22px;
      width: 22px; }
    .add-tasks .task-list .task-content {
      font-weight: 600;
      font-size: 16px; }
      .add-tasks .task-list .task-content span {
        cursor: pointer; }
    .add-tasks .task-list .date {
      font-weight: 800;
      color: #33A0DB;
      padding-right: 5px; }
    .add-tasks .task-list .fa-star {
      size: 16px; }
      .add-tasks .task-list .fa-star:hover {
        cursor: pointer; }

.sub-task {
  margin: 20px 15px 0; }
  .sub-task .panel-header {
    height: 50px;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; }
    .sub-task .panel-header.finished {
      background-color: #d7e2de; }
      .sub-task .panel-header.finished span {
        text-decoration: line-through; }
    .sub-task .panel-header .checkbox {
      height: 16px;
      width: 16px; }
    .sub-task .panel-header .content {
      padding-top: 2px;
      font-size: 16px; }
    .sub-task .panel-header .fa-star {
      padding-top: 5px;
      font-size: 16px; }
      .sub-task .panel-header .fa-star:hover {
        cursor: pointer; }
  .sub-task .panel-body {
    padding-top: 0px;
    height: calc(100% - 150px); }
  .sub-task .panel-footer {
    height: 50px; }
    .sub-task .panel-footer .fa-trash-o {
      float: left;
      padding-top: 8px;
      font-size: 16px; }
      .sub-task .panel-footer .fa-trash-o:hover {
        cursor: pointer;
        color: red; }

.subtask-sidebar {
  list-style: none;
  padding: 0px 0px; }
  .subtask-sidebar > li {
    display: block;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd; }
    .subtask-sidebar > li i {
      padding-right: 25px;
      font-size: 16px;
      color: #2b8dec;
      margin: auto; }
    .subtask-sidebar > li .remainder {
      pointer-events: stroke;
      cursor: pointer; }
    .subtask-sidebar > li input {
      border-width: 0;
      border: none;
      padding-left: 10px;
      background: 0;
      outline: none;
      font-size: 16px;
      width: calc(100% - 51px); }
    .subtask-sidebar > li .fa-pencil {
      float: left; }
    .subtask-sidebar > li textarea {
      border-width: 0;
      border: none;
      outline: none;
      width: calc(100% - 51px);
      height: 100px; }
  .subtask-sidebar .subtasks {
    list-style: none;
    padding: 0px;
    border-bottom: 1px solid #ddd; }
    .subtask-sidebar .subtasks > li {
      padding: 10px 10px; }
      .subtask-sidebar .subtasks > li .fa-close {
        float: right;
        font-size: 16px;
        color: #ddd; }
        .subtask-sidebar .subtasks > li .fa-close:hover {
          color: red;
          cursor: pointer; }
      .subtask-sidebar .subtasks > li .checkbox {
        float: left;
        height: 16px;
        width: 16px;
        cursor: pointer; }
      .subtask-sidebar .subtasks > li span {
        font-size: 16px;
        padding: 0px 25px; }

body {
  overflow-x: hidden;
  background: url(../img/wunderlist.jpg) no-repeat fixed;
  background-size: 100% 100%;
  height: 100%; }

.w-100 {
  width: 100%; }

.hidden {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.finished {
  background-color: #d7e2de; }
  .finished span {
    text-decoration: line-through; }

.starred .fa-star {
  color: red; }

#wrapper {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
  #wrapper.toggled .sidebar-wrapper {
    width: 60px; }
    #wrapper.toggled .sidebar-wrapper input,
    #wrapper.toggled .sidebar-wrapper span,
    #wrapper.toggled .sidebar-wrapper ul {
      visibility: hidden; }
    #wrapper.toggled .sidebar-wrapper i {
      float: right;
      padding-right: 13px; }
  #wrapper.toggled .page-content-wrapper {
    width: calc(100% - 60px);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.sidebar-wrapper {
  z-index: 1;
  position: fixed;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f7f7f7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 16px; }
  .sidebar-wrapper .fa-inbox {
    color: #2b8dec; }
  .sidebar-wrapper .menu-toggle {
    padding: 15px 15px;
    height: 50px;
    color: #fff;
    background: #5b7a59; }
    .sidebar-wrapper .menu-toggle .fa-bars {
      cursor: pointer;
      font-size: 16px; }
  .sidebar-wrapper .list-input {
    padding: 15px 15px;
    height: 50px;
    color: #2b8dec; }
    .sidebar-wrapper .list-input i {
      padding-right: 10px;
      font-size: 16px; }
    .sidebar-wrapper .list-input input {
      border-width: 0;
      border: none;
      padding-left: 10px;
      background: 0;
      width: calc(100% - 56px);
      outline: none; }

.page-content-wrapper {
  width: calc(100% - 300px);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  float: right; }

@media screen and (max-width: 700px) {
  #wrapper.toggled .sidebar-wrapper {
    width: 300px; }
    #wrapper.toggled .sidebar-wrapper input,
    #wrapper.toggled .sidebar-wrapper span,
    #wrapper.toggled .sidebar-wrapper ul {
      visibility: visible; }
    #wrapper.toggled .sidebar-wrapper i {
      float: left;
      padding-top: 4px; }
  #wrapper .sidebar-wrapper {
    width: 60px;
    overflow: hidden; }
    #wrapper .sidebar-wrapper input,
    #wrapper .sidebar-wrapper span,
    #wrapper .sidebar-wrapper ul {
      visibility: hidden; }
    #wrapper .sidebar-wrapper .menu-toggle {
      padding: 15px 20px; }
    #wrapper .sidebar-wrapper .list-input {
      padding: 15px 20px; }
  #wrapper .page-content-wrapper {
    width: calc(100% - 60px);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; } }

/*# sourceMappingURL=index.css.map */
