.finance {
  border-left: 5px solid #ffc53a !important; }

.healthcare {
  border-left: 5px solid #412ca2 !important; }

.realestate {
  border-left: 5px solid #e06d06 !important; }

.hardware {
  border-left: 5px solid #b20000 !important; }

.socialimpact {
  border-left: 5px solid #3a978f !important; }

.pass-percent {
  color: #00ba5f; }

.fail-percent {
  color: #9a2e27; }

.table .form-control {
  height: 20px; }

.fa-minus-circle {
  color: red;
  cursor: pointer;
  font-size: default-size;
  padding-left: 10px; }

.fa-pencil-square-o {
  color: #97aae9;
  cursor: pointer; }

.fa-save {
  color: green;
  cursor: pointer; }

img {
  height: 14px;
  width: 15px;
  border-radius: 50%;
  margin-right: 5px; }

.modal-header,
.modal-body,
.modal-footer {
  background: #000000;
  border: 1px solid #282828;
  color: white; }
  .modal-header .form-control,
  .modal-body .form-control,
  .modal-footer .form-control {
    background: #282828; }

.ReactModal__Overlay {
  background-color: unset !important; }

.assist {
  width: calc(100% - 49px);
  height: 50px;
  background: #111111;
  color: #97aae9;
  padding: 15px 10px;
  border: 1px solid #282828;
  border-top: 0; }

.fa-plus-circle {
  cursor: pointer;
  padding-right: 5px; }

body {
  background-color: #000000;
  margin: 100px 55px;
  font-size: 1.4rem; }

.react-bs-table table {
  border-right: 0 !important; }

.table {
  color: white;
  border-spacing: 0px; }
  .table thead {
    color: #707064; }
    .table thead tr th {
      border: 1px solid #282828 !important;
      background-color: #111111; }
    .table thead tr:first-child th:last-child {
      border: 0 !important;
      background: #000000; }
  .table tbody tr td {
    border: 0;
    border-right: 1px solid #282828; }
  .table tbody tr td:last-child {
    border: 0;
    background-color: #000000;
    outline: none; }
  .table tr:nth-child(even) {
    background-color: #111111; }
  .table tr:nth-child(odd) {
    background-color: #000000; }

/*# sourceMappingURL=index.css.map */
