body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* general css */
.full-w-h{
    width:100%;
    height:100%;
}
.p-15 {
    padding-left: 15px;
    padding-top: 15px;
}

.p-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.m-30 {
    margin-top: 30px;
    margin-left: 30px;
}

.yellow-clr {
    color: yellow !important;
}
.strike {
    text-decoration: line-through;
}
.bdr-bottom {
    border-bottom-color: lightgrey;
    border-bottom-style: dotted;
    border-bottom-width: thin;
}
.bdr-right {
    border-right-color: lightgrey;
    border-right-style: dotted;
    border-right-width: thin;
}

.bdr-top {
    border-top-color:lightgray;
    border-top-style: dotted;
    border-top-width: thin;
}

.bdr-rad {
    border-radius: 5px;
}

/* functional css */

.container {
    display: flex;
}

.content {
    position: relative;
    width: 75%;
}
.createList{
    width: 100%;
}
.listIcon {
    width: 9%;
    padding-top:10px;
    display: inline-block;
}
.getListName {
    width: 80%;
    display: inline-block;
    padding-top:5px;
}
.getListName>input{
    border:none;
    height: 30px;
    background-color: #E9E9E9;
    font-size: 16px;
    width: 100%;
    padding-left:10px;
    font-weight: 700;
}
.getListName>input:placeholder {
    background-color: #E9E9E9;
    border:none;
    color:#B1B1B3;
}

.sideBar {
    left: 0;
    width: 25%;
    height: 100%;
    background: #E9E9E9;
    display: block;
    overflow: scroll;
}
.nav li {
    list-style: none;
    display: block;
    width: 100%;
    height: 50px;
}

.nav li:hover {
    color: white;
    background: #6BA2CE;
}

.nav li>a {
    display: block;
    padding-top: 15px;
    text-decoration: none;
    font-family: arial;
    font-size: 16px;
    font-weight: 700;
    color: black;
}

.sideBar .nav {
    padding: 0;
    margin: 0;
    width: 100%;
}

.content .content-body {
    top: 0;
    position: absolute;
    display: flex;
}

.content-body .toDo {
    width: 40%;
    overflow: scroll;
}
::-webkit-scrollbar{
    display: none;
}

.content-body .modal {
    height: 90%;
    margin-right: 30px;
    width: 55%;
    background-color: #f5f2f1;
    box-shadow: -1px -1px 22px 4px rgba(0, 0, 0, 0.44);
}

.toDo .getTask>input {
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 15px;
    width: 100%;
    height: 50px;
    font-size: 16;
    color: white;
    font-weight: 900;
}

.toDo .getTask>input::placeholder {
    color: white;
    font-weight: 900;
    font-size: 16;
}

.toDo .task {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #D0E3F3;
    display: flex;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.44);
}

.task .checkbox {
    padding-top: 10px;
    padding-left: 15px;
    width: 10%;
}

.task .displayToDo {
    width: 70%;
    font-weight: 800;
}

.task .today {
    font-weight: 800;
    width: 20%;
    color: #33A0DB;
}

.today>i {
    color: #B1B1B3;
    padding-left: 5px;
}

.checkbox>input {
    width: 25px;
    height: 25px;
    background-color: #D5E4F0;
}

.header {
    width: 100%;
    height: 14%;
    display: block;
    background-color: #E5E5E5;
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.17);
}

.header-checkbox {
    display: inline-block;
    width: 10%;
    padding-top: 30px;
    padding-left: 20px;
}

.header-checkbox>input {
    width: 25px;
    height: 25px;
}

.header-body {
    display: inline-block;
    padding-top: 30px;
    width: 75%;
    font-size: 30px;
    font-weight: bolder;
}

.header-star {
    display: inline-block;
    width: 10%;
}

.header-star>i {
    font-size: 29px;
}

.modal .footer {
    width: 100%;
    height: 8%;
}

.modal .body {
    width: 100%;
    height: 75%;
}

.noteList {
    width: 100%;
    padding-left: 0px;
    margin: 0;
}

.noteList li {
    padding-left: 20px;
    height: 15%;
    list-style: none;
    display: block;
    font-size: 20px;
    color: #3874A5;
    font-weight: 900;
}

.body-calendar,
.remindMe {
    padding-top: 27px;
}

.body-calendar>i,
.remindMe>i {
    padding-right: 20px;
}

.remindMe {
    color: #B1B1B3;
}

.subtask {
    background-color: white;
    margin: 20px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    color: #B1B1B3;
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.47);
}

.plus {
    width: 40px;
    padding-top: 12px;
    padding-left: 18px;
    display: inline-block;
}

.plus>i {
    margin: auto;
}

.textinput {
    display: inline-block;
}

.textinput>input {
    border: none;
    height: 40px;
    font-size: 20px;
    padding-left: 16px;
    width: 100%;
}

.textinput>input::placeholder {
    font-size: 20px;
}

.fa-trash {
    padding: 20px;
    float: left;
    font-size: 26px !important;
    color: #B1B1B3;
}

.fa-trash:hover {
    color: red;
}

.fa-play {
    padding: 20px;
    float: right;
    font-size: 26px !important;
    color: #B1B1B3;
}

.fa-star {
    color: #B1B1B3;
}

.fa-thumb-tack {
    color: #33A0DB;
}

.textarea {
    background: url(../img/notebook.png) repeat-y;
    margin-left: 20px;
    margin-right: 20px;
    height: 200px;
    font: normal 14px verdana;
    line-height: 25px;
    padding: 2px 10px;
    border: solid 1px #ddd;
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.47);
    font-size: 20px;
    overflow: scroll;
}

.modal .body>i {
    font-size: 29px;
}

.subTaskLists>li{
    list-style:  none;
}