/*  Colors */
/* Size*/
.form-control {
  position: relative;
  width: 100%;
  background: 0 0;
  padding: 26px 0 12px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-width: 0 0 1px !important;
  box-shadow: none !important;
  border-radius: 0;
  padding-left: 10px; }

body {
  overflow-x: hidden; }

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #4188f3;
  width: 200px; }
  .sidebar .logo {
    width: 100%;
    height: 140px;
    margin-top: 10px; }
    .sidebar .logo span {
      font-size: 18px;
      margin: 15px 25px;
      color: #fff;
      height: 20%;
      font-weight: 600; }
    .sidebar .logo img {
      margin-left: 55px;
      margin-top: 20px;
      width: 45%;
      height: 60%; }
  .sidebar .sidebar-wrapper {
    position: relative;
    overflow: auto;
    margin-top: 10px;
    width: 100%; }
  .sidebar .nav li a {
    border-radius: 2px;
    margin: 15px 10px;
    color: #fff;
    opacity: 0.5;
    font-size: 18px; }
    .sidebar .nav li a:focus {
      opacity: 1;
      background-color: transparent !important;
      border-left: 5px solid white;
      border-radius: 0;
      transition: 0.2s; }
    .sidebar .nav li a:hover {
      background-color: transparent; }
  .sidebar .nav li i {
    text-align: left;
    width: 30px;
    font-size: 18px;
    color: #fff; }

.main-panel {
  float: right;
  width: calc(100% - 200px);
  position: relative;
  overflow: auto;
  height: 100%; }

.btn {
  background-color: #4188f3;
  color: #fff;
  font-size: 18px; }

@media screen and (max-width: 750px) {
  .sidebar {
    width: 0;
    display: none; }
  .main-panel {
    width: 100%; } }
