//colors
$background-clr: #000000;
$font-clr: white;
$table-border-clr: #282828;
$pass-percent-clr: #00ba5f;
$fail-percent-clr: #9a2e27;
$row-even-clr: #111111;
$row-odd-clr: #000000;
$thead-clr: #707064;
$add-clr: #97aae9;

//size
$default-size: 1.4rem;