@import 'constants';
.finance {
    border-left: 5px solid #ffc53a !important;
}

.healthcare {
    border-left: 5px solid #412ca2 !important;
}

.realestate {
    border-left: 5px solid #e06d06 !important;
}

.hardware {
    border-left: 5px solid #b20000 !important;
}

.socialimpact {
    border-left: 5px solid #3a978f !important;
}

.pass-percent {
    color: $pass-percent-clr;
}

.fail-percent {
    color: $fail-percent-clr;
}

.table {
    .form-control {
        height: 20px;
    }
}

.fa-minus-circle {
    color: red;
    cursor: pointer;
    font-size: default-size;
    padding-left: 10px;
}

.fa-pencil-square-o {
    color: $add-clr;
    cursor: pointer;
}

.fa-save {
    color: green;
    cursor: pointer;
}

img {
    height: 14px;
    width: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.modal-header,
.modal-body,
.modal-footer {
    background: $background-clr;
    border: 1px solid $table-border-clr;
    color: white;
    .form-control {
        background: $table-border-clr;
    }
}

.ReactModal__Overlay {
    background-color: unset !important;
}

.assist {
    width: calc(100% - 49px);
    height: 50px;
    background: $row-even-clr;
    color: $add-clr;
    padding: 15px 10px;
    border: 1px solid $table-border-clr;
    border-top:0;
}

.fa-plus-circle {
    cursor: pointer;
    padding-right: 5px;
}
