@import 'constants';
@import 'tableData';
@function border($pixel, $color) {
  @return $pixel solid $color;
}

body {
  background-color: $background-clr;
  margin: 100px 55px;
  font-size: $default-size;
}

.react-bs-table table {
  border-right: 0 !important;
}

.table {
  color: $font-clr;
  border-spacing: 0px;
  thead {
    color: #707064;
     tr {
      th {
        border: border(1px, $table-border-clr) !important;
        background-color: $row-even-clr;
      }
    }
    tr:first-child {
      th:last-child {
        border: 0 !important;
        background: $background-clr;
      }
    }
  }
  tbody {
    tr {
      td {
        border:0;
        border-right: border(1px, $table-border-clr);
      }
      td:last-child {
        border: 0;
        background-color: $background-clr;
        outline: none;
      }
    }
  }
  tr:nth-child(even) {
    background-color: $row-even-clr;
  }
  tr:nth-child(odd) {
    background-color: $row-odd-clr;
  }
}